<article class="card-vaga">
  <div class="topo-card">
    <img class="logo-empresa" [src]="vaga.imagem" [alt]="'Logotipo da empresa ' + vaga.empresa">

    <div class="identificacao">
      <p class="empresa">{{ vaga.empresa }}</p>
      <h3>{{ vaga.cargo }}</h3>
      <p class="localizacao">
        {{ vaga.localizacao }} - {{ vaga.modalidade }}
      </p>
    </div>

    <button class="botao-favorito" [class.favorita]="favorita" [title]="favorita
      ? 'Remover dos favoritos'
      : 'Adicionar aos favoritos'" (click)="alterarFavorito()">
      @if (favorita) {
      🌟
      } @else {
      ⭐
      }
    </button>
  </div>
  <div class="etiquetas">
    @if (vaga.aberta){
    <span class="situacao aberta">Vaga aberta</span>
    } @else {
    <span class="situacao encerrada">Vaga encerrada</span>
    }

    @if(vaga.urgente){
    <span class="situacao urgente">Contratação urgente</span>
    }

    @if(favorita){
    <span class="situacao favorito">Favorita</span>
    }
  </div>
  <div class="informacoes">
    <div class="informacao">
      <span class="rotulo">Salário</span>
      @if(vaga.salario > 0){
      <strong>R$ {{ vaga.salario.toLocaleString('pt-BR') }}</strong>
      }@else {
      <strong>Valor inbox</strong>
      }
    </div>
    <div class="informacao">
      <span class="rotulo">Modalidade</span>
      <strong>{{ vaga.modalidade }}</strong>
    </div>
  </div>
  <p class="descricao">
    {{ vaga.descricao }}
  </p>
  <button class="botao-detalhes" (click)="alterarDetalhes()">
    {{ detalhesVisiveis ? 'Ocultar requisitos' : 'Mostrar requisitos' }}

    <!-- @if (detalhesVisiveis) {
    Ocultar requisitos
    } @else {
    Mostrar requisitos
    } -->
  </button>

  @if (detalhesVisiveis) {
  <section class="requisitos">
    <h4>Requisitos da vaga</h4>
    <ul>
      @for(requisito of vaga.requisitos; track $index){
      <li>{{ requisito }}</li>
      } @empty {
      <li>Nenhum requisito informado.</li>
      }
    </ul>
  </section>
  }

  <div class="area-candidatura">
    <button class="botao-candidatar" [disabled]="!vaga.aberta || candidaturaEnviada" (click)="candidatar()">
      @if (!vaga.aberta){
      Vaga indisponível
      } @else if (candidaturaEnviada){
      Candidatura enviada
      } @else {
      Candidatar-se
      }
    </button>
  </div>

  @if (candidaturaEnviada){
  <p class="mensagem-sucesso">
    Sua candidatura para {{ vaga.cargo }} foi enviada!
  </p>
  }
</article>